@use "./variables" as *;
@use "../abstracts/mixins" as *;

// Add styles here
.bg-primary {
  background-color: #010101 !important;
}
.bg-gray {
  background-color: #f8f8f8;
}
.t-clr__primary {
  color: $primaryColor !important;
}
.t-clr__secondary {
  color: $secondaryColor !important;
}
.pt-100 {
  padding-top: 100px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-70 {
  padding-top: 70px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

@for $var from 1 to 9 {
  .f-weight__#{$var*100} {
    font-weight: #{$var * 100} !important;
  }
}
.c-pointer {
  cursor: pointer;
}
@include breakpoint-max(767px) {
  body {
    font-size: 0.9375em;
  }
  .pt-100 {
    padding-top: 50px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .pb-70 {
    padding-bottom: 20px;
  }

  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
