// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// Header 

.header-nav>li>a::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(-50%,-50%) scale(.9);
    left: auto;
    left: 50%;
    width: 120px;
    height: 60px;
    background-image: url(../img/menu-hover-shape.png);
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}
.header-nav>li>a:hover::after {
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
    opacity: 1
}

.header {
    &-section {
        position: absolute;
        width: 100%;
        z-index: 999;
        padding-top: 15px;
        padding-bottom: 15px;

        // &.sticky-header {
        //     &.sticky {
        //         padding-top: 0;
        //         padding-bottom: 0;
        //         position: fixed;
        //         z-index: 99;
        //         width: 100%;
        //         top: 0;
        //         background: var(--bgDarkBlue);
        //         box-shadow: 0 0 2px rgba(0,0,0,.1);
        //         animation-name: fadeInDown;
        //         animation-duration: .9s;
        //         animation-timing-function: cubic-bezier(.2,1,.22,1);
        //         animation-delay: 0s;
        //         animation-iteration-count: 1;
        //         animation-direction: normal;
        //         animation-fill-mode: none;
        //         animation-play-state: running;
        //         border-bottom: 0;
        //     }
        // }
    }

    &-logo {
        display: block;
    }

    &-nav {
        display: flex;

        li {
            padding-left: 30px;
            padding-right: 30px;

            a {
                font-size: 18px;
                line-height: 120px;
                display: inline-block;
                color: var(--secondaryColor);
                position: relative;

                &:hover {
                    color: var(--primaryColor);
                }
            }

        }

        .has-dropdown {
            position: relative;

            &:hover {
                .submenu {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0) scaleY(1)
                }
            }
        }

        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 280px;
            background: var(--bgLightBlue);
            border-radius: 0 0 5px 5px;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s cubic-bezier(.2, 0, .2, 1);
            transition: transform .1s cubic-bezier(.2, 0, .2, 1), opacity .2s cubic-bezier(.2, 0, .2, 1);
            transition: transform .1s cubic-bezier(.2, 0, .2, 1), opacity .2s cubic-bezier(.2, 0, .2, 1);
            transform: translateY(0) scaleY(.2);
            transform-origin: top;
            transition: all .5s ease;
            z-index: 9;

            li {
                padding-left: 0;
                padding-right: 0;

                a {
                    padding: 10px 25px;
                    display: block;
                    position: relative;
                    color: var(--primaryColor);
                    z-index: 1;
                    line-height: 25px;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: auto;
                        right: 0;
                        width: 0%;
                        height: 100%;
                        background: var(--primaryColor);
                        -webkit-transition: all .5s ease;
                        transition: all .5s ease;
                        z-index: -1;
                    }

                    &:hover {
                        color: var(--secondaryColor);

                        &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

    &-nav>li {
        padding-left: 30px;
        padding-right: 30px;
    }

    &-nav>li>a {
        font-size: 18px;
        line-height: 120px;
        display: inline-block;
        color: var(--secondaryColor);
        position: relative;
    }

    &-btn-link {
        .btn {
            font-size: 18px;

            i {
                padding-left: 8px;
            }
        }
    }
}

// Mobile Header

.mobile-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: var(--bgDarkBlue);
    padding: 20px 0;
}

.mobile-action-link {
    font-size: 35px;

    button {
        i {
            color: var(--primaryColor);
        }
    }
}

// Mobile Body

.navbar {
    &-nav {
        .nav-item {
            padding: 7px 5px;

            a {
                position: relative;
                color: var(--primaryColor);
                padding: 0;

                &:after {
                    position: absolute;
                    margin-left: 0;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    transition: transform 0.3s ease;
                }

                &.icon-rotate {
                    &:after {
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
            }

            &.dropdown {
                .dropdown-menu {
                    padding: 10px 0 0 5px;

                    .dropdown-item {
                        padding: 5px 0;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .dropdown-menu {
            background-color: transparent;
            border: none;
        }
    }
}

.navbar-mobile {
    max-width: 370px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--bgDarkBlue);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;

    &--wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 111;
        right: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s linear;

        &.active {
            opacity: 1;
            pointer-events: all;

            .navbar-mobile {
                transform: translateX(0);
            }
        }
    }

    &--head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin-bottom: 30px;
            padding: 16px;

            i {
                color: var(--primaryColor);
                font-size: 22px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                text-align: center;
                border-radius: 50%;
                transition: all 0.5s ease;
                padding: 10px;
            }
        }
    }
}
