// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.faq-section {
    background-color: var(--bgLightBlue);
}

.faq-list-single-item {
    padding: 60px 55px;
    flex-direction: row;
    background: var(--bgDarkBlue);
    border: 1px solid var(--bgDarkBlue);
    display: flex;
    margin-bottom: 30px;
    transition: all .5s ease;

    &:hover {
        background: var(--bgDarkBlue);
        border-color: rgba(255, 255, 255, .1);

        .number {
            background: var(--bgDarkBlue);
        }
    }

    .number {
        margin-right: 60px;
        margin-bottom: 0;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        background: var(--bgDarkBlue);
        color: var(--primaryColor);
        font-weight: 500;
        transition: all .5s ease;
    }

    .content {
        width: calc(100% - 180px);

        .title {
            font-size: 24px;
            font-family: Poppins, sans-serif;
            font-weight: 500;
            line-height: 1.2;
            margin-top: -5px;
            margin-bottom: 20px;
        }
    }
}

// RESPONSIVE 

@include breakpoint-max(767px) {
    .faq-list-single-item {
        flex-direction: column;
        gap: 40px;

        .content {
            width: 100%;
        }
    }

    .pagination-nav-list li {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}